:root {
  --cor-primaria: #083e6b; /* AZUL */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
  font-family: Poppins, sans-serif;
}

body{
  min-width: 370px;
  background-color: #000000;
}
.App{
  padding: 20px 35px;
  max-width: 1050px;
  margin: 0 auto;
}

main{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.areaBtnHeader{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonRed {
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  background-image: linear-gradient(90deg, rgb(146, 8, 3) 0%, rgb(250, 24, 8) 100%);
  border: none;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 65px;
  justify-content: center;
}

.buttonHome{
  width: 195px !important;
  height: 45px !important;
}

.select{
  background-color: var(--cor-primaria);
  border-radius: 10px;
  width: 190px;
  height: 44px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 23px;
}

.select option{
  background-color: #015097;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
}


.area-mines{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.area-mines > div {
  width: 70px;
  height: 70px;
  background-color: var(--cor-primaria);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #015097;
}

.balanceWrapper {
  color: #fff;
}

.card {
  transition: transform 0.5s;
}

.circle {
  width: 45px;
  height: 45px;
}


.circle{
  color: #015097;
}

.star,
.bomb{
  width: 60px;
  height: 60px;
}

.star{
  color: #fff500;
}

.bomb{
  color: #000;
}

.flipCardStar,
.flipCardBomb{
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.flipCardStar{
  border: 5px solid #fff500 !important; 
}

.flipCardBomb{
  border: 5px solid #6d0000 !important; 
  background-color: #df0202 !important;
}


.infos{
  display: flex;
  flex-direction: column;
  max-width: 365px;
  width: 100%;
  margin-top: 68px;
  margin-left: 20px;
}

.areaButtons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.btnWidth{
  width: 100% !important;
  height: 65px;
}

button{
  cursor: pointer;
}

.btnGreen{
  background: linear-gradient(270deg, rgb(100, 184, 70) -3.07%, rgb(43, 102, 23) 100%);
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.125rem;
  transition: all 0.1s ease 0s;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 60px;
}

.addMoney{
  background: linear-gradient(270deg, #64b846 -3.07%, #2b6617 100%);
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 10px;
  font-size: .85em;
  transition: all 0.1s ease 0s;
  width: 100%;
  margin-top: 5px;
  height: 30px;
}

.btnRed{
  background: linear-gradient(270deg, rgb(255 0 0) -3.07%, rgb(112 0 0) 100%);
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.125rem;
  transition: all 0.1s ease 0s;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 60px;
}

.modalWrapper {
  border-radius: 5px;
  z-index: 999;
  border: none;
  text-align: center;
  background-color: #191919;
  max-width: 700px;
  padding: 25px 50px;
}

.modalAddCash{
  z-index: 999;
  border: none;
  text-align: center;
  background-color: #191919;
  max-width: 700px;
  padding: 20px 30px 30px 30px;
}

.buttonsAddCash button{
  background: linear-gradient(270deg, rgb(100, 184, 70) -3.07%, rgb(43, 102, 23) 100%);
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 100px;
  height: 40px;
}

.buttonsAddCash{
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 440px;
}

.btnClose{
  display: flex;
  align-items: end;
  justify-content: end;

}

.btnClose button{
  border-radius: 100%;
  height: 30px !important;
  width: 30px !important;
  padding: 0;
  font-weight: 900;
  background-color: rgb(199, 4, 4);
  border: none;
  color: #000;
  font-size: 1em !important;
}

.WrapperVideo {
  display: flex;
  justify-content: center;
}

.modalWrapper .btnGreen {
  height: 50px !important;
}

.modalWrapper .cancel {
  width: 100%;
  background-color: rgb(199, 4, 4);
  border-radius: 25px;
  color: #FFF;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 10px 10px 0px;
}

.modalWrapper .not-accept {
  background-color: transparent;
  border-radius: 3px;
  color: rgb(199, 4, 4);
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
}


.modalWrapper h4 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #FF1616;
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.modalWrapper h2 {
  text-align: center;
  color: #47a509;
  font-size: 30px;
  margin: 0;
  padding-top: 20px;
}


.modalWrapper p {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
}


.disabled{
  opacity: .6 !important;
}

.areaInformations{
  background-color: rgb(40, 43, 48);
  color: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  pointer-events: none;
  height: 350px;
  border-radius: 10px;
}

.areaInformations *{
  background-color: rgb(40, 43, 48);
}

.logoAndName{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.names{
  margin-left: 10px;
}

.names h4{
  margin-top: 15px;
}

.names p{
  margin-top: -28px;
  font-size: .8em;
  font-weight: 400;
}

footer{
  margin-top: 60px;
  padding-bottom: 10px;
  background-color: #181818;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel {
  max-width: 500px;
  margin: auto;
}

.carouselItem {
  width: 85px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  border: 2px solid #313c50;
}

.carouselItem .value {
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-weight: 700;
  background-color: #1b2233;
} 

.carouselItem .hits {
  height: 28px;
  line-height: 28px;
  color: #6f7c89;
  font-size: 14px;
  background-color: #0D131C;
} 

.arrowLeft {
    position: absolute;
    bottom: 0;
    color: white;
    left: -10px;
    transform: translateY(-25px);
}

.arrowRight {
  position: absolute;
  right: -10px;
  bottom: 0px;
  color: #fff;
  transform: translateY(-25px);
}

.carousel .slider-wrapper {
  width: 90% !important;
}
.containerFooter{
  max-width: 1050px;
  margin: 0 auto;
}

.betValueContainer {
  display: flex;
  justify-content: space-between;
}

.socialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.terms{
  color: #fff;
  text-decoration: underline;
  font-size: .8em;
}

.terms p{
  cursor: pointer;
}

.betValue{
  height: 60px;
  background-color: #015097;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.125rem;
  transition: all 0.1s ease 0s;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.betValue button{
  color: #fff;
  display: flex;
  background-color: #0678CE;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 50px;
  height: 40px;
  font-size: 1.2em;
  font-weight: bolder;
  border: none;
}

.wrapperBet {
  display: flex;
  align-items: center;
}

.actionFooter {
  width: 100%;
}

.betValue input{
  background-color: #0678CE;
  border: none;
  height: 30px;
  width: 30%;
  border-radius: 15px;
  color: #fff;
  font-weight: bolder;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginWrapper img {
  margin-top: 40px;
}

.loginEnterWrapper {
  width: 90%;
  max-width: 560px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: azure;
}

.loginEnterWrapper div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.loginEnterWrapper label {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.loginEnterWrapper input {
  border: 2px solid #1e44a6;
  border-radius: 5px;
  padding: 5px 15px;
  height: 45px;
  color: azure;
  background: #292929;
}

.loginEnterWrapper input::placeholder {
  color: #696969;
  font-size: 17px;
}

.balanceWrapper .balance {
  color: #c9f73c;
  font-weight: 700;
}

.logoutHeader {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.buttonBlue {
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  background-image: linear-gradient(90deg, rgb(26, 40, 75) 0%, rgb(11 53 163) 100%);
  border: none;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 65px;
  justify-content: center;
}

.underlineLink {
  border: none;
  text-decoration: underline;
  color: white;
  font-size: 1.10rem;
  margin-top: 15px;
  font-weight: 300;
}

@media screen and (max-width: 1140px) {
  .area-mines {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .infos{
    min-width: 315px;
  }
}

@media screen and (max-width: 1120px){
  .area-mines > div {
    width: 70px;
    height: 70px;
  }

  .circle {
    width: 35px;
    height: 35px;
  }
  
  .star,
  .bomb{
    width: 45px;
    height: 45px;
  }
  
}
 @media screen and (max-width: 1010px) {
  .areaBtnHeader .buttonBlue{
    display: none;
  }

  .area-mines > div {
    width: 60px;
    height: 60px;
  }

  
  .infos{
    margin-top: 30px;
    max-width: 550px;
    width: 100%;
    margin-left: 0;
  }

  .areaButtons{
    order: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .areaInformations{
    order: 2;
  }

  footer{
    margin-top: 30px;
    padding: 0px 20px 30px 20px;
  }

  .buttonBlueHome{
    display: none;
  }

  .wrapperBet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px){
  .carouselItem {
    width: 75px;
  }

 
  main{
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  header{
    justify-content: space-between;
  }
  .carouselItem .value {
    height: 23px;
    line-height: 23px;
  } 

  header img{
    width: 50px !important;
    padding-left: 10px;
  }

  .carouselItem .hits {
    height: 23px;
    line-height: 23px;
  } 

  .area-mines > div {
    width: 55px;
    height: 55px;
  }

  .area-mines{
  grid-gap: 6px;
  }

  footer img{
    display: none;
  }
  
.footer { 
  padding-bottom: 30px;
}

  .buttonRed{
    height: 35px !important;
    font-size: .9em;
    width: 120px !important;
  }

  button{
    height: 40px !important;
  }

  .areaButtons{
    margin-top: -15px;
  }

  .select{
    height: 33px;
    margin-bottom: 10px;
    width: 150px;
  }

  header {
    margin-bottom: 15px;
  }

  
}

@media screen and (max-width: 400px){
  .area-mines > div {
    width: 47px;
    height: 47px;
  }

  .circle {
    width: 25px;
    height: 25px;
  }
  
  .star,
  .bomb{
    width: 30px;
    height: 30px;
  }
  
}


